@import "../includes/style.css";


main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100px;
    width: 100%;
    margin-left: 20px;
    
    input {
        width: 750px;
        height: 50px;
        border: none;
        border-bottom: 2px solid var(--dark-grey);
        padding: 0px;
        font-size: 1.5em;
        font-family: "Concert One", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: var(--navy-blue);
        
        margin-bottom: 15px;
    }
    
    input:focus {
        outline: none;
    }
    
    
    margin-bottom: 50px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;

    article {
        display: flex;
        flex-direction: column;
        align-items: left;
        min-height: 20em;
        min-width: 20em;
        color: var(--navy-blue);
        border: 2px var(--navy-blue) solid;
        border-radius: var(--round-corners);
        flex-basis: calc(40% - 20%);
        box-sizing: border-box;

        padding: 20px;
        padding-top: 0px;

        .art-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        img {
            max-width: 100%;
            object-fit: cover;
        }

        h3 {
            color: var(--navy-blue);
        }

        h4 {
            color: var(--navy-blue);
        }
    }

    article:hover {
        background-color: var(--light-blue);
        .fade-out-container::after {
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--light-blue));
        }
    }
    .relief {
        --navy-blue: #fff;
        background-color: #254766;
        .fade-out-container::after {
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #254766);
        }
    }
    .relief:hover {
        background-color: var(--grey-blue);
        .fade-out-container::after {
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--grey-blue));
        }
    }
}

#filterOptions{
    display: none; /* Initialement caché */
    position: absolute;
    flex-direction: column;
    background-color: white;
    min-width: 200px;
    width: 20%;
    z-index: 1;
    border-radius: var(--round-corners);
    overflow: hidden;

    input {
        width: 50px;
        margin-left: 0px;
        margin-right: 5px;
        div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
            label {
                align-self: center;
                text-align: center;
            }
        }
    }
}

.cat_hidden {
    display: none;
}