@import "../includes/style.css";

.smallButton {
	font-size: 0.8em;
}

input {
	display: inline-block;
	margin: 10px;
	border: 2px solid var(--navy-blue);
	border-radius: var(--round-corners);
	width: 50%;
	height: 2em;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;

	background-image: url("../IMAGES/Background-co_pro.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 15%;
	width: 27.5%;
	height: 30%;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: var(--round-corners);
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 1;
	div {
		display: flex;
		flex-direction: row;
	}
}

.mdp {
	margin-bottom: 1px;
}

a {
	color: var(--navy-blue);
	text-decoration: none;
	font-size: small;
	align-self: self-end;
	margin-right: 25%;
	margin-bottom: 3%;
}

a:hover {
	color: var(--grey-blue);
}