@import "../style.css";

h1 {
  text-align: center;
  font-size: 64px;
  font-family: 'Exo 2', sans-serif;
}

/* Rectangle du formulaire */
.form-container {
  display: flex;
  align-items: flex-start;
  margin: 2%;

}

.form-left {
  margin-right: 5px;
  padding: 20px;
  border: 1px solid var(--dark-grey);
  border-radius: 10px;
}

.form-right {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Barre de saisie avec ligne du bas uniquement visible */
.input-creation {
  width: 100%;
  padding: 8px;
  margin: 20px;
  border: none;
  border-bottom: 2px solid var(--light-grey);
  margin-bottom: 10px;
  background-color: transparent;
  font-family: 'Exo 2', sans-serif;
  font-size: 40px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

/* Photo de profil */
#photo-profil {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}


/* Pied de formulaire */
#form-footer {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

#obligation {
  color: var(--red);
  margin-right: 5px;
  font-size: 36px;
}





.bouton-info {
  font-size: 25px;
}

#form-photo{
  display:flex;
  flex-direction: column;
  margin-left:auto;
}