@import "../includes/style.css";

#formAvis {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;

    .bigButton{
        margin-top: 20px;
    }

    .smallButton{
        margin-top: 20px;
        width: 10em;
    }
    input {
        height: 3em;
        width: 20em;
        margin-bottom: 10px;
        padding: 0px;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid var(--light-grey);
        font-size: 1em;
        padding-left: 10px;
    }
    input[type="file"] {
        display: none;
    }
    div {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;
    }
    p {
        margin-right: 20px;
    }
}