@import "../includes/style.css";

h1{
    text-align: center;
}

.liste{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.facture{
    width: 45%;
    border: 2px var(--navy-blue) solid;
    padding-left: 1em;
    padding-bottom: 1em;
    border-radius: var(--round-corners);
}