@import "../includes/style.css";

#barre_recherche {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    
}
#barre_recherche input[type="text"] {
    background-color: #f0f0f0;
    width: 100%;
    padding: 10px;
    border: none;
   
    outline: none;
    font-size: 40px;
    
}
#barre_recherche .filtre, .barre_recherche .tri {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-left: 2px solid #A0A0A0;
    cursor: pointer;
    position: relative;
    
    
}
#barre_recherche .filtre select, #barre_recherche .tri select {
    border: none;
    background-color: transparent;
    appearance: none;
    padding-right: 20px; 
    font-size: 40px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 6"><path fill="%23000" d="M0 0l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
}
option{
    font-size: 30px;
}