/* IF YOU NEED TO CHANGE SOMETHING FROM THE GIVEN CODE PLS ASK ME BEFORE */

:root {
    --red: #CC0000; /* Accent */
    --light-blue: #E7FDFD; /* Accent Background */
    --grey-blue: #9ABBDB; /* Extra */
    --navy-blue: #254766; /* Buttons */
    --light-grey: #8599AD; /* Main background */
    --dark-grey: #52667A; /* Border Color */

    --round-corners: 5px; /* USE THIS FOR ROUNDED CORNERS, PING ME IF YOU WANT TO HAVE AN OTHER ROUNDED CORNER */
}

.hidden {
    display: none;
}

body {
    margin-top: 7%; /* SO IT DOESNT GO BEHIND THE HEADER, DONT TOUCH */
    margin-bottom: 7%; 

    font-size: 1.5em;
    font-family: "SUSE", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--navy-blue);
}

.smallButton{
    background-color: var(--navy-blue);
    height: 60px;
    width: 200px;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: var(--round-corners);

    font-size: 1em;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button {
    background-color: var(--navy-blue);
    height: 100px;
    width: 500px;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: var(--round-corners);

    font-size: 2.5em;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bigButton {
    background-color: var(--navy-blue);
    height: 150px;
    width: 500px;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: var(--round-corners);

    font-size: 2.5em;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.redButton {
    background-color: var(--red);
    height: 100px;
    width: 500px;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: var(--round-corners);

    font-size: 1.5em;
    font-family: "SUSE", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.smallButton:hover {
    background-color: var(--grey-blue);
    cursor: pointer;
}

.button:hover {
    background-color: var(--grey-blue);
    cursor: pointer;
}

.bigButton:hover {
    background-color: var(--grey-blue);
    cursor: pointer;
}

.redButton:hover {
    background-color: var(--grey-blue);
    cursor: pointer;
}

h1 {
    color: black;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: var(--red);
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}

h3 {
    color: black;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h4 {
    color: white;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    z-index: 100;

    height: 2.5em;
    min-height: 2em;
    display: flex;
    position: fixed;
    top: 0;
    width: 99%;

    text-align: center;
    align-items: center;
    justify-content: space-around;

    div {
        width: 75%;
        height: 95%;
        
        align-items: center;
        justify-content: space-around;
    }

    .container {
        display: flex;
        background-color: var(--light-grey);
        width: 100%;
    }

    .buttons {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: var(--navy-blue);
        color: white;
        border: none;
        margin: 0px;
        
        h4 {
            font-family: "Concert One", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: x-large;
        }
    }
    .buttons:hover {
        background-color: var(--grey-blue);
        cursor: pointer;
    }
    
    .indicator {
        width: 100%;
        height: 5%;
        background-color: var(--navy-blue);
        display: flex;
        align-items: normal;
        justify-content: normal;
    }
    
    p {
        font-family: "Concert One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: medium;
        color: var(--navy-blue);
        text-align: center;
        align-items: center;
        justify-content: space-around;
        margin: 10px;
    }

    .sloganHide {
        display: none;
    }
    .sloganShow {
        display: block;
    }
}

.homeButton {
    height: 100%;
    background-color: var(--light-blue);
    min-width: 25%;
    width: 25%;
    display: flex;
    justify-content: normal;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--light-grey);
    height: 10%;
    align-items: center;
    text-align: center;
    
    p {
        font-size: 1em;
        margin-bottom: 5px;
    }

    a {
        color: var(--light-blue);
        text-decoration: none;
        font-size: 0.85em;
        margin-left: 10px;
    }
    
    a:hover {
        color: var(--grey-blue);
    }

    .container {
        display: flex;
        flex-direction: row;
        background-color: var(--light-grey);
        align-items: center;
        text-align: center;
        div {
            display: flex;
            align-items: center;
            justify-content: right;
        }
        margin: 5px;
    }

    .top-botton {
        height: 100%;
        background-color: var(--light-grey);
        color: none;
        border: none;
    }
}

main {
    background: white;
    margin-bottom: 15%;
}

form textarea{
    resize: none;
}

.fade-out-container {
    position: relative; /* Allows positioning of the gradient overlay */
    max-height: 155px; /* Set the maximum height */
    overflow: hidden; /* Hide the overflowing text */
}
  
.fade-out-container::after {
    content: ""; /* Create an overlay */
    position: absolute;
    bottom: 0; /* Position at the bottom */
    left: 0;
    right: 0;
    height: 20px; /* Adjust height for the fade effect */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff); /* Fade effect */
}

.avis {
    margin-right: 10px;
    padding: 10px;
    border-radius: var(--round-corners);
    width: 95%;

    .avis-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .avis-titre {
            font-weight: bold;
            justify-content: left;
            align-items: center;
            width: 50%;
            h1 {
                margin-left: 10px;
            }
        }

        .avis-infos {
            display: flex;
            flex-direction: column;
            justify-content: right;
            align-items: right;
            margin-right: 10px;
            text-align: right;

            h3 {
                margin-bottom: 0px;
            }
        }
    }

    margin-bottom: 20px;
}
