/* IF YOU NEED TO CHANGE SOMETHING FROM THE GIVEN CODE PLS ASK ME BEFORE */

:root {
    --red: #cc0000;
    /* Accent */
    --light-blue: #e7fdfd;
    /* Accent Background */
    --grey-blue: #9abbdb;
    /* Extra */
    --navy-blue: #254766;
    /* Buttons */
    --light-grey: #8599ad;
    /* Main background */
    --dark-grey: #52667a;
    /* Border Color */

    --round-corners: 5px;
    /* USE THIS FOR ROUNDED CORNERS, PING ME IF YOU WANT TO HAVE AN OTHER ROUNDED CORNER */

    /* Couleurs toasts */
    --success: #0ABF30;
    --error: #E24D4C;
    --warning: #E9BD0C;
    --info: #3498DB;

    /* Couleurs hover pour les boutons rouge */
    --red-hover: #890c0c;
}

.hidden {
    display: none;
}

body {
    margin-top: 7%;
    /* SO IT DOESNT GO BEHIND THE HEADER, DONT TOUCH */
    margin-bottom: 7%;

    font-size: 1.5em;
    font-family: "SUSE", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--navy-blue);
    background-image: url("../IMAGES/background_gen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    main {
        margin-bottom: 7%;
        margin-top: 7%;
    }
}

.smallButton {
    background-color: var(--navy-blue);
    height: 60px;
    width: 200px;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: var(--round-corners);

    font-size: 1em;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button {
    background-color: var(--navy-blue);
    height: 100px;
    width: 500px;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: var(--round-corners);

    font-size: 2.5em;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bigButton {
    background-color: var(--navy-blue);
    height: 150px;
    width: 500px;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: var(--round-corners);

    font-size: 2.5em;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.redButton {
    background-color: var(--red);
    height: 100px;
    width: 500px;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: var(--round-corners);

    font-size: 1.5em;
    font-family: "SUSE", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.smallButton:hover {
    background-color: var(--grey-blue);
    cursor: pointer;
}

.button:hover {
    background-color: var(--grey-blue);
    cursor: pointer;
}

.bigButton:hover {
    background-color: var(--grey-blue);
    cursor: pointer;
}

.redButton:hover {
    background-color: var(--grey-blue);
    cursor: pointer;
}

h1 {
    color: black;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: var(--red);
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}

h3 {
    color: black;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h4 {
    color: white;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    z-index: 100;

    height: 2.5em;
    min-height: 2em;
    display: flex;
    position: fixed;
    top: 0;
    width: 99%;

    text-align: center;
    align-items: center;
    justify-content: space-around;

    div {
        width: 75%;
        height: 95%;

        align-items: center;
        justify-content: space-around;
    }

    .container {
        display: flex;
        background-color: var(--light-grey);
        width: 100%;
    }

    .buttons {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: var(--navy-blue);
        color: white;
        border: none;
        margin: 0px;

        h4 {
            font-family: "Concert One", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: x-large;
        }
    }

    .buttons:hover {
        background-color: var(--grey-blue);
        cursor: pointer;
    }

    .indicator {
        width: 100%;
        height: 5%;
        background-color: var(--navy-blue);
        display: flex;
        align-items: normal;
        justify-content: normal;
    }

    p {
        font-family: "Concert One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: medium;
        color: var(--navy-blue);
        text-align: center;
        align-items: center;
        justify-content: space-around;
        margin: 10px;
    }

    .sloganHide {
        display: none;
    }

    .sloganShow {
        display: block;
    }

    @media (max-width: 1400px) {
        .sloganShow {
            display: none;
        }
    }
}

.homeButton {
    height: 100%;
    background-color: var(--light-blue);
    min-width: 25%;
    width: 25%;
    display: flex;
    justify-content: normal;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--light-grey);
    height: 10%;
    align-items: center;
    text-align: center;

    p {
        font-size: 1em;
        margin-bottom: 5px;
    }

    a {
        color: var(--light-blue);
        text-decoration: none;
        font-size: 0.85em;
        margin-left: 10px;
    }

    a:hover {
        color: var(--grey-blue);
    }

    .container {
        display: flex;
        flex-direction: row;
        background-color: var(--light-grey);
        align-items: center;
        text-align: center;

        div {
            display: flex;
            align-items: center;
            justify-content: right;
        }

        margin: 5px;
    }

    .top-botton {
        height: 100%;
        background-color: var(--light-grey);
        color: none;
        border: none;
    }
}

form textarea {
    resize: none;
}

.fade-out-container {
    position: relative;
    /* Allows positioning of the gradient overlay */
    max-height: 155px;
    /* Set the maximum height */
    overflow: hidden;
    /* Hide the overflowing text */
}

.fade-out-container::after {
    content: "";
    /* Create an overlay */
    position: absolute;
    bottom: 0;
    /* Position at the bottom */
    left: 0;
    right: 0;
    height: 20px;
    /* Adjust height for the fade effect */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
    /* Fade effect */
}

.avis {
    margin-right: 10px;
    padding: 10px;
    border-radius: var(--round-corners);
    width: 95%;
    background-color: white;

    .avis-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .avis-titre {
            font-weight: bold;
            justify-content: left;
            align-items: center;
            width: 50%;

            h1 {
                margin-left: 10px;
            }
        }

        .avis-infos {
            display: flex;
            flex-direction: column;
            justify-content: right;
            align-items: right;
            margin-right: 10px;
            text-align: right;

            h3 {
                margin-bottom: 0px;
            }
        }
    }

    margin-bottom: 20px;
}

/**********/
/**********/
/**********/
/* compte */
/**********/
/**********/
/**********/

#connection {
    .smallButton {
        font-size: 0.8em;
    }

    input {
        display: inline-block;
        margin: 10px;
        border: 2px solid var(--navy-blue);
        border-radius: var(--round-corners);
        width: 50%;
        height: 2em;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-image: url("../IMAGES/Background-co_pro.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
        width: 27.5%;
        height: 30%;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: var(--round-corners);
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;

        div {
            display: flex;
            flex-direction: row;
        }
    }

    .mdp {
        margin-bottom: 1px;
    }

    a {
        color: var(--navy-blue);
        text-decoration: none;
        font-size: small;
        align-self: self-end;
        margin-right: 25%;
        margin-bottom: 3%;
    }

    a:hover {
        color: var(--grey-blue);
    }
}

#consultation {
    :root {
        --red-hover: #890c0c;
    }

    #red-text {
        color: var(--red);
    }

    h1 {
        font-size: 64px;
        text-align: center;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: white;
        margin: 0;
    }

    /* Disposition des éléments du profil */

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 20px;
        p {
            font-size: 40px;
            text-align: center;
        }
    }

    /* Positionnement centré des infos du profil */

    .profile {
        border-radius: var(--round-corners);
        width: auto;
        background-color: white;
        padding: 20px;
        border-radius: var(--round-corners);
        margin-top: 20px;
    }

    .profile-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    /* Style des inputs*/

    .input-group {
        margin-bottom: 15px;
    }

    /* Positionnement du code et de la ville*/

    #code-postal-ville {
        display: flex;
        justify-content: space-between;
    }

    #code-postal-ville .input-group {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
    }

    /* Style des champs de saisie*/

    input[type="text"] {
        width: 100%;
        padding: 8px;
        border: 1px solid var(--light-grey);
        border-radius: var(--round-corners);
        background-color: white;
        color: black;
        font-size: 40px;
    }

    a {
        color: var(--navy-blue);
    }

    /* Positionnement de l'image et des boutons */
    .actions-profil {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 342px;
    }

    /* Style de la photo de profil*/

    .photo-profil {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
    }

    /* Positionnement des boutons */

    #bouton-modifier,
    #bouton-supprimer {
        width: 100%;
        padding: 10px;
        font-size: 20px;
        border: none;
        border-radius: var(--round-corners);
        cursor: pointer;
        margin-bottom: 10px;
        color: white;
    }

    .pop-up {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .big-button {
        font-size: 40px;
        margin: 10px;
        width: 200px;
        height: 100px;
    }

    #bouton-modifier {
        background-color: var(--navy-blue);
    }

    #bouton-modifier:hover {
        background-color: var(--grey-blue);
    }

    #bouton-supprimer {
        background-color: var(--red);
    }

    #bouton-supprimer:hover {
        background-color: var(--red-hover);
    }

    /* Longueur des différents champs */

    #nom-societe {
        width: 760px;
        height: 75px;
    }

    #courriel {
        width: 760px;
        height: 75px;
    }

    #telephone {
        width: 365px;
        height: 75px;
    }

    #adresse {
        width: 950px;
        height: 75px;
    }

    #code-postal {
        width: 160px;
        height: 75px;
    }

    #ville {
        width: 750px;
        height: 75px;
    }

    #IBAN {
        width: 950px;
        height: 75px;
    }
}

#creation_compte {
    .profile {
        border-radius: var(--round-corners);
        width: auto;
        background-color: white;
        padding: 20px;
        border-radius: var(--round-corners);
        margin-top: 20px;
    }

    h1 {
        text-align: center;
        font-size: 64px;
        font-family: "Exo 2", sans-serif;
    }

    /* Rectangle du formulaire */
    .form-container {
        display: flex;
        align-items: flex-start;
        margin: 2%;
    }

    .form-left {
        margin-right: 5px;
        padding: 20px;
        border: 1px solid var(--dark-grey);
        border-radius: var(--round-corners);
        background-color: #fff;
    }

    .form-right {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Barre de saisie avec ligne du bas uniquement visible */
    .input-creation {
        width: 100%;
        padding: 8px;
        margin: 20px;
        border: none;
        border-bottom: 2px solid var(--light-grey);
        margin-bottom: 10px;
        background-color: transparent;
        font-family: "Exo 2", sans-serif;
        font-size: 40px;
    }

    .form-row {
        display: flex;
        justify-content: space-between;
    }

    /* Photo de profil */
    #photo-profil {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
    }

    /* Pied de formulaire */
    #form-footer {
        display: flex;
        justify-content: space-between;
        margin: 5px;

        input[type="checkbox"]{
            height: 2em;
            width: 2em;
        }
    }

    #obligation {
        color: var(--red);
        margin-right: 5px;
        font-size: 36px;
    }

    .bouton-info {
        font-size: 25px;
    }

    #form-photo {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }
}

.choix_compte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5em;

    section {
        border-radius: var(--round-corners);
        background-color: white;
        padding: 2em;
    }
}

/**********/
/**********/
/**********/
/* offres */
/**********/
/**********/
/**********/

#liste_offre {
    main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: 100px;
        width: 100%;
        margin-left: 20px;

        input {
            width: 750px;
            height: 50px;
            border: none;
            border-bottom: 2px solid var(--dark-grey);
            padding: 0px;
            font-size: 1.5em;
            font-family: "Concert One", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: var(--navy-blue);

            margin-bottom: 15px;
        }

        input:focus {
            outline: none;
        }

        margin-bottom: 50px;

        #buttonContainer {
            display: flex;
        }

        div > .smallButton {
            margin-right: 1em;
        }
    }

    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5%;

        article {
            display: flex;
            flex-direction: column;
            align-items: left;
            min-height: 20em;
            min-width: 20em;
            color: var(--navy-blue);
            border: 2px var(--navy-blue) solid;
            border-radius: var(--round-corners);
            flex-basis: calc(40% - 20%);
            box-sizing: border-box;
            background-color: white;

            padding: 20px;
            padding-top: 0px;
            margin-bottom: 2em;

            .art-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            img {
                max-width: 100%;
                object-fit: cover;
            }

            h3 {
                color: var(--navy-blue);
            }

            h4 {
                color: var(--navy-blue);
            }
        }

        article:hover {
            background-color: var(--light-blue);

            .fade-out-container::after {
                background: linear-gradient(
                    to bottom,
                    rgba(255, 255, 255, 0),
                    var(--light-blue)
                );
            }
        }

        .relief {
            --navy-blue: #fff;
            background-color: #254766;

            .fade-out-container::after {
                background: linear-gradient(
                    to bottom,
                    rgba(255, 255, 255, 0),
                    #254766
                );
            }
        }

        .relief:hover {
            background-color: var(--grey-blue);

            .fade-out-container::after {
                background: linear-gradient(
                    to bottom,
                    rgba(255, 255, 255, 0),
                    var(--grey-blue)
                );
            }
        }
    }

    #filterOptions {
        display: none;
        /* Initialement caché */
        position: absolute;
        flex-direction: column;
        background-color: white;
        min-width: 200px;
        width: 20%;
        z-index: 1;
        border-radius: var(--round-corners);
        overflow: hidden;

        input {
            width: 50px;
            margin-left: 0px;
            margin-right: 5px;

            div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                vertical-align: middle;

                label {
                    align-self: center;
                    text-align: center;
                }
            }
        }

        #filtre_cat {
            display: flex;
            flex-direction: column;

            label {
                display: flex;
                align-items: center;
            }

            #retirerFiltreCat {
                align-self: center;
            }
        }

        #filtre_note {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                vertical-align: middle;
                flex-wrap: wrap;
                justify-content: space-evenly;

                input[type="radio"] {
                    width: 1em;
                    margin-top: 0.6em;
                }

                label {
                    display: flex;
                    align-self: center;
                    text-align: center;
                    align-items: center;
                    margin-right: 5px;

                    h1 {
                        justify-content: center;
                    }
                }
            }
        }

        #filtre_prix {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                vertical-align: middle;
                flex-wrap: nowrap;

                input {
                    width: auto;
                    max-width: 50%;
                }
            }
        }

        #retirerFiltrePrix {
            align-self: center;
        }

        #retirerFiltres {
            margin: 1em 0em;
            align-self: center;
        }
    }

    .cat_hidden {
        display: none;
    }

    .note_hidden {
        display: none;
    }

    .prix_hidden {
        display: none;
    }

    main img {
        width: 420px;
        height: 280px;
    }
}

#creation_offre {
    form {
        background: white;
        text-align: center;
        font-size: 1.5em;
        padding: 20px;
        width: 60%;
        border-radius: var(--round-corners);
        border: 1px solid var(--dark-grey);
    }

    input::placeholder {
        font-size: 1.5em;
    }

    textarea::placeholder {
        font-size: 1.5em;
    }

    #creation_offre {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        margin: 10px;
        padding: 10px;
        border: 2px solid var(--dark-grey);
        border-top: none;
        border-left: none;
        border-right: none;
    }

    textarea {
        border-color: var(--dark-grey);
    }

    #creation_offre > div > select {
        width: 60%;
        height: 3em;
        border-radius: 5px;
    }

    #creation_offre > select {
        width: 57.5%;
        height: 3em;
        border-radius: 5px;
    }

    #titre_cate {
        display: flex;
        width: 60%;
    }

    #titre {
        width: 100%;
        align-self: end;
    }

    #type {
        width: 30%;
    }

    #categorie {
        width: 12em;
    }

    #depends_select {
        margin: 10px;
    }

    #depends_select > input {
        margin: 10px;
        padding: 10px;
    }

    #addresse {
        display: flex;
        width: 60%;
        padding: 0;
    }

    #rue_addresse {
        width: 100%;
    }

    #ville_code {
        display: flex;
        flex-direction: row;
        width: 60%;
    }

    #ville {
        width: 100%;
    }

    #tel_site {
        display: flex;
        width: 60%;
    }

    #telephone {
        width: 50%;
    }

    #site_web {
        width: 50%;
    }

    #resume {
        width: 55%;
    }

    #description {
        height: 20em;
        width: 55%;
        resize: none;
        border-radius: 5px;
        padding-left: 10px;
        padding-top: 10px;
    }

    #valider {
        font-size: 2em;
    }

    img {
        max-width: 10em;
        max-height: 10em;
    }

    select {
        width: 20%;
        height: 3em;
        background-color: white;

        padding-left: 1em;
        padding-right: 1em;
        font-size: 1em;
        padding-top: 0px;
        padding-bottom: 0px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-color: var(--dark-grey);
        font-size: 0.68em;
    }

    input[type="file"] {
        display: none;
    }

    #depends_select {
        width: 60%;
    }

    #depends_select > input {
        width: 100%;
    }

    legend {
        color: var(--dark-grey);
        font-size: 1em;
    }

    #opt {
        width: 100%;
    }

    #tagre {
        width: 30%;
    }
}

#informations_offre {
    main {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        .header {
            display: flex;
            flex-direction: column;
            background-color: white;
            width: 96.5%;
            padding: 20px;
            border-radius: 10px;
        }

        section {
            display: flex;
            flex-direction: row;

            .img-container {
                display: block;
                min-width: 50%;
                max-width: 50%;
            }

            img {
                border-radius: var(--round-corners);
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            section {
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                background-color: white;
                border-radius: var(--round-corners);
                padding: 20px;
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .button {
            background-color: var(--navy-blue);
            height: 100px;
            width: 500px;
            color: white;
            border: none;
            text-align: center;
            cursor: pointer;
            border-radius: var(--round-corners);

            font-size: 1.5em;
            font-family: "SUSE", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;

            th,
            td {
                border: 1px solid var(--light-grey);
                padding: 8px;
                text-align: left;
            }
        }
    }
}

#modification_offre {
    main {
        padding: 0 10%;
    }

    h1 {
        text-align: center;
    }

    form div {
        width: 100%;
    }

    form textarea {
        width: 100%;
        height: 10em;
        padding-left: 1em;
        padding-right: 1em;
    }

    form div label {
        width: max-content;
        white-space: nowrap;
        margin-right: 1em;
    }

    form div input {
        width: 100%;
        height: 3em;

        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: -1em;
        font-size: 1em;

        border: 2px solid var(--dark-grey);
        border-top: none;
        border-left: none;
        border-right: none;
    }

    form div select {
        width: 100%;
        height: 3em;
        background-color: white;

        padding-left: 1em;
        padding-right: 1em;
        font-size: 1em;
        padding-top: 0px;
        padding-bottom: 0px;

        border: 2px solid var(--dark-grey);
        border-top: none;
        border-left: none;
        border-right: none;
    }

    textarea {
        width: 50%;
        height: 5em;
        border-radius: var(--round-corners);
        padding-top: 1em;
        font-size: 1em;

        border: 2px solid var(--dark-grey);
    }

    form {
        display: flex;
        flex-direction: column;

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 1.5%;
            margin-bottom: 1.5%;
            margin-right: 3%;
        }
    }

    #profile {
        width: 10em;
        height: 10em;
    }

    #divButton {
        display: flex;
        flex-direction: column;
    }

    div button {
        width: 40%;
        height: 2em;
        margin: 2em;
    }

    #submit {
        height: 2em;
        margin: 2em;
    }

    #fichier {
        border-radius: 0;
        margin: 0;
        padding-top: 2%;
        margin-left: 1em;
    }

    .bouton {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .smallButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    input[type="file"] {
        display: none;
    }
}

/**********/
/**********/
/** avis **/
/**********/
/**********/
/**********/

#crea_avis {
    #formAvis {
        display: none;
        background-color: white;
        padding: 20px;
        border-radius: var(--round-corners);
    }

    form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;

        .bigButton {
            margin-top: 20px;
        }

        .smallButton {
            margin-top: 20px;
            width: 10em;
        }

        input {
            height: 3em;
            width: 20em;
            margin-bottom: 10px;
            padding: 0px;
            font-size: 16px;
            border: none;
            border-bottom: 1px solid var(--light-grey);
            font-size: 1em;
            padding-left: 10px;
        }

        input[type="file"] {
            display: none;
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            margin-bottom: 10px;
            margin-top: 10px;
            width: 100%;
        }

        p {
            margin-right: 20px;
        }
    }
}

#modifier_avis {
    background-color: white;
    padding: 20px;
    border-radius: var(--round-corners);

    #edit-form {
        display: flex;
        flex-direction: column;
        /*justify-content: space-around;*/
        align-items: center;
        width: 100%;
    }

    /* Barre de saisie avec ligne du bas uniquement visible */
    .input-edit {
        width: 100%;
        padding: 8px;
        margin: 20px;
        border: none;
        border-bottom: 2px solid var(--light-grey);
        margin-bottom: 10px;
        background-color: transparent;
        font-family: "Exo 2", sans-serif;
        font-size: 40px;
    }

    .edit-header {
        display: flex;
    }

    #note {
        width: 15%;
    }

    #titre {
        width: 100%;
    }

    #contexte {
        width: 100%;
        padding: 8px;
        margin: 20px;
        border: none;
        border-bottom: 2px solid var(--light-grey);
        margin-bottom: 10px;
        background-color: transparent;
        font-family: "Exo 2", sans-serif;
        font-size: 40px;
    }

    textarea::placeholder {
        font-size: 1.5em;
    }

    textarea {
        border-color: var(--dark-grey);
        width: 50em;
        height: 5em;
        font-size: 1.5em;
        margin-bottom: 10px;
        font-family: "Exo 2", sans-serif;
    }
}

#liste_facture {
    h1 {
        text-align: center;
    }

    .liste {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .facture {
        width: 45%;
        border: 2px var(--navy-blue) solid;
        padding-left: 1em;
        padding-bottom: 1em;
        border-radius: var(--round-corners);
    }
}

.formReponse {
    #edit-form {
        display: flex;
        flex-direction: column;
        /*justify-content: space-around;*/
        align-items: center;
        width: 100%;
    }

    /* Barre de saisie avec ligne du bas uniquement visible */
    .input-edit {
        width: 100%;
        padding: 8px;
        margin: 20px;
        border: none;
        border-bottom: 2px solid var(--light-grey);
        margin-bottom: 10px;
        background-color: transparent;
        font-family: "Exo 2", sans-serif;
        font-size: 40px;
    }

    .edit-header {
        display: flex;
    }

    #note {
        width: 15%;
    }

    #titre {
        width: 100%;
    }

    #contexte {
        width: 100%;
        padding: 8px;
        margin: 20px;
        border: none;
        border-bottom: 2px solid var(--light-grey);
        margin-bottom: 10px;
        background-color: transparent;
        font-family: "Exo 2", sans-serif;
        font-size: 40px;
    }

    textarea::placeholder {
        font-size: 1.5em;
    }

    textarea {
        border-color: var(--dark-grey);
        width: 50em;
        height: 5em;
        font-size: 1.5em;
        margin-bottom: 10px;
        font-family: "Exo 2", sans-serif;
    }
}

#qrCodeOtp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#qrCode {
    height: 10em;
    width: 10em;
}

#inputOtp {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/**********/
/**********/
/** map ***/
/**********/
/**********/
/**********/

#map {
    height : 30em;
    width : 100em;
    z-index: 0;
    margin: 1em;
}

.info.legend {
    padding: 8px 10px;
    background: white;
    border-radius: 5px;
    line-height: 24px; 
}

.legend-icon {
    width: 1em; 
    height: 1em; 
    margin-right: 2em;
    vertical-align: middle; 
}

.info.legend img{
    max-width: 2.73em; 
    max-height: 3.45em; 
    min-width: 2.73em; 
    min-height: 3.45em; 
    margin-right: 2em;
    vertical-align: middle; 
}

/**********/
/**********/
/* toast **/
/**********/
/**********/
/**********/

.notifications {
    position: fixed;
    top: calc(2.5em + 20px);
    right: 20px;
    z-index: 101;
  }
  .notifications :where(.toast, .column) {
    display: flex;
    justify-self: center;
    align-self: center;
    align-items: center;
    background-color: white;
    border-radius: var(--round-corners);
    padding: 1em
}

  .notifications .toast {
    width: 400px;
    position: relative;
    overflow: hidden;
    list-style: none;
    border-radius: var(--round-corners);
    padding: 16px 17px;
    margin-bottom: 10px;
    border: 1px solid var(--dark-grey);
    background: white;
    color: var(--navy-blue);
    justify-content: space-between;
    animation: show_toast 0.3s ease forwards;
  }
  @keyframes show_toast {
    0% {
      transform: translateX(100%);
    }
    40% {
      transform: translateX(-5%);
    }
    80% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-10px);
    }
  }
  .notifications .toast.hide {
    animation: hide_toast 0.3s ease forwards;
  }
  @keyframes hide_toast {
    0% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(-5%);
    }
    100% {
      transform: translateX(calc(100% + 20px));
    }
  }
  .toast::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
  }
  @keyframes progress {
    100% {
      width: 0%;
    }
  }
  .toast.success::before, .btn#success {
    background: var(--success);
  }
  .toast.error::before, .btn#error {
    background: var(--error);
  }
  .toast.warning::before, .btn#warning {
    background: var(--warning);
  }
  .toast.info::before, .btn#info {
    background: var(--info);
  }
  .toast .column i {
    font-size: 1.75rem;
  }
  .toast.success .column i {
    color: var(--success);
  }
  .toast.error .column i {
    color: var(--error);
  }
  .toast.warning .column i {
    color: var(--warning);
  }
  .toast.info .column i {
    color: var(--info);
  }
  .toast .column span {
    font-size: 1.07rem;
    margin-left: 12px;
  }
  .toast i:last-child {
    color: var(--navy-blue);
    transition: color 0.2s ease;
    cursor: pointer;
  }
  .toast i:last-child:hover {
    color: var(--dark-grey);
  }


#divQRCode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    background-color: white;
    border-radius: var(--round-corners);
    padding: 1em
}

#QRCode{
    height: 10em;
    width: 10em;
}

